<nav class="pagination is-medium is-centered mt-6 " role="navigation" aria-label="pagination">
    <ul class="pagination-list">

<% if (page !== 1) { %>
  <li>
    <a href= "/home?page=1" class="pagination-link" aria-current="page">1</a>
  </li>

  <li><span class="pagination-ellipsis">&hellip;</span></li>


  <% if (page < 16) { %>
    <% for( let index = page; index < page+10; index++ ) { %>
      <% if (page === index) { %>
        <li>
          <a href= "/home?page=<%= index %>" class="pagination-link is-current" aria-current="page"><%= index  %> </a>
        </li>
      <% } else { %>
        <li>
          <a href= "/home?page=<%= index %>" class="pagination-link" aria-current="page"><%= index%> </a>
        </li>
        <% } %> 
    <% } %>
  
    <li><span class="pagination-ellipsis">&hellip;</span></li>
  
    <li>
      <a href= "/home?page=<%-count %> " class="pagination-link " aria-current="page"><%- count %>  </a>
    </li>
  <% }else { %>
    <% for( let index = 16; index < count+1; index++ ) { %>
      <% if (page === index) { %>
        <li>
          <a href= "/home?page=<%= index  %>" class="pagination-link is-current" aria-current="page"><%= index  %> </a>
        </li>
      <% } else { %>
        <li>
          <a href= "/home?page=<%= index %>" class="pagination-link" aria-current="page"><%= index%> </a>
        </li>
        <% } %> 
    <% } %>
    <% } %> 






  <!-- Eger Index 1 ise Başarılı Çalışacaktır -->
<% } else { %>

  <% for( let index = 1; index < 11; index++ ) { %>

    <li>
      <% if (index===page) { %>
        <a href= '/home?page=<%- index %> ' class="pagination-link is-current" aria-current="page"><%-  index  %> </a>
      <% } else {%>
        <a href= '/home?page=<%- index %> ' class="pagination-link" aria-current="page"><%-index %> </a>
        <% } %> 
    </li>
  
  <% } %>

  <li><span class="pagination-ellipsis">&hellip;</span></li>
  <li>
    <a href= '/home?page=<%- parseInt(count) %> ' class="pagination-link " aria-current="page"><%-  parseInt(count)  %> </a>
  </li>
<% } %> 



 
    </ul>
  </nav>


